* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

nav {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
}

nav ul {
  list-style: none;
}

nav > ul {
  display: flex;
  overflow: hidden;
  width: 100%;
  background: #000;
  position: relative;
}

nav > ul li {

  display: flex;
  width: 100%;
  flex-direction: column;

}

/*Sub-menu*/
nav > ul > li:hover > ul {
  display:block;
}

nav >ul > li > ul {
  display: none;
  text-align: center;

}

nav > ul li a {
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

nav > ul > li > ul > li a:hover {
  background: #5da5a2;
}

nav > ul > li > a span {
  background: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
}

nav > ul > li > a span .Icon {
  display: block;
  line-height: 60px;
}

nav > ul > li > a:hover > span{
  top: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

body{
  background-image: url(libe.jpg);
  background-size: 1380px 700px;
  background-repeat:no-repeat;

}
